a.button-edit {
    display: inline-block;
    text-decoration: none;
    background-image: url(../images/edit.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

a.button-add {
    display: inline-block;
    text-decoration: none;
    background-image: url(../images/add.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

a.button-delete {
    display: inline-block;
    text-decoration: none;
    background-image: url(../images/cancel.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
